.form-area input[type=button]{
	border: none;
	height: 40px;
	outline: none;
	color: #ffffff;
	font-size: 15px;
	background-color: tomato;
	cursor: pointer;
	border-radius: 20px;

}

.form-area input[type=button]:hover{
	background-color: cyan;
	color: #ffffff;
}

}
