

.death {
  text-align: left; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: black; /* White text color */
}
h1 {
    font-size: 40px;
    font-weight: 6;
    text-transform: capitalize;
    color: #00294f;
    text-shadow: 1px 1px 7px #6b6b6b;
    letter-spacing: 5px;
    margin: 1.3em 0 .7em;
    text-align: center;
    font-family: 'Times', cursive;
}

.US {width: 59%; background-color: #ff8c7a;} /* Green */
.China {width: 38%; background-color: #d8fca4;} /* Blue */
.Italy {width: 38%; background-color: #c0bdff;} /* Red */
.Iran {width: 26%; background-color: #ee8fff;} /* Dark Grey */
.France {width: 16%; background-color: #ff8c7a;} /* Green */
.Japan {width: 15%; background-color: #d8fca4;} /* Blue */
.Spain {width: 14%; background-color: #c0bdff;} /* Red */
.UK {width: 12%; background-color: #ee8fff;} /* Dark Grey */
.Netherlands {width: 8%; background-color: #ff8c7a;} /* Green */
.South-Korea {width: 6%; background-color: #d8fca4;} /* Blue */
.Switzerland {width: 5%; background-color: #c0bdff;} /* Red */



.heading {
	background-color: #ebe98d;
	 padding-top: 7px;
  padding-bottom: 7px;
}