body{
	margin: 0;
	padding: 0;
	background-image: url(3.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	font-family: Tahoma, sans-serif;
}


.form-area{
	
	padding: 3em 3em;
    background: rgba(0, 0, 0, 0.6);
    width: 65%;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 1px 1px 7px #6b6b6b;
    letter-spacing: 5px;
    margin: 1.3em 0 .7em;
    text-align: center;
    font-family: 'Zapf-Chancery', cursive;
}
h3{
	 display: inline-block;
    text-align: left;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: .4em;
    padding: 0px 25px 10px 0px;
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 2px solid #0091cd;
    font-family: 'Raleway', sans-serif;
}

.form-area p{
	margin: 0;
	padding: 0;
	
	color: #ffffff;
}
.form-area p1{
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
	height: 40px;
	color: #ffffff;
	display: 16px;
}

.form-area input,select{
	margin-bottom: 20px;
	width: 49.73%;
}



.form-control {
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
	height: 40px;
	width: 100%;
	color: #ffffff;
	display: 16px;
}

.form-area input[type=text]{
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
	height: 40px;
	width: 99%;
	color: #ffffff;
	display: 16px;

}
.form-area input[type=email]{
	border: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	outline: none;
	height: 40px;
	width: 100%;
	color: #ffffff;
	display: 16px;

}
::placeholder{
	color: #ffffff;
}
.form-area input[type=submit],.form-area input[type=reset]{
	border: none;
	height: 40px;
	outline: none;
	color: #ffffff;
	font-size: 15px;
	background-color: tomato;
	cursor: pointer;
	border-radius: 20px;

}

.form-area input[type=submit]:hover{
	background-color: cyan;
	color: #ffffff;
}
.form-area input[type=reset]:hover{
	background-color: cyan;
	color: #ffffff;
}
.form-area a{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}








